<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMPT391_Data_Warehouse.My.MySettings.CMPT391_Data_WarehouseConnectionString"
            connectionString="Data Source=DESKTOP-IRRDDVT\SQLEXPRESS;Initial Catalog=CMPT391_Data_Warehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>